{% if width and not height %}
{{ throw(message="Cannot provide width but not height") }}
{% endif %}
{% if height and not width %}
{{ throw(message="Cannot provide height but not width") }}
{% endif %}

{% if height and width %}
{% set img = resize_image(path=page.colocated_path ~ "/figs/" ~ src, width=width, height=height, op=op | default(value="fill")) %}
<img data-src="{{ img.url | safe }}">
{% else %}
<img data-src="{{ get_url(path=page.colocated_path ~ "/figs/" ~ src) | safe }}">
{% endif %}
