.sidebar {
  float: left;
  padding-left: 10%;
  width: 10%;
}

.sidebar > * {
  text-align: center;
}

.headshot {
  max-width: 100%;
}

.name {
  font-size: large;
}

.navigation > div {
  margin: 1em;
}

.content {
  padding-left: 25%;
  width: 50%;
}
