.columns {
  display: grid;
  grid-auto-flow: column;
}

.vcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hcenter {
  justify-content: center;
  text-align: center;
}

.elementhcenter {
  display: flex;
  justify-content: center;
}

.nolimit {
  max-width: none !important;
  max-height: none !important;
}

.ljustify {
  text-align: left;
}

.rjustify {
  text-align: right;
}

.withbase {
  background-color: var(--base);
}
