.columns {
  display: grid;
  grid-auto-flow: column;
}

.vcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hcenter {
  justify-content: center;
  text-align: center;
}
