{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{{ get_url(path="/css/reveal.css") }}" />
    <link rel="stylesheet" href="{{ get_url(path="/css/catppuccin-reveal.css") }}" />
    <link rel="stylesheet" href="{{ get_url(path="/css/talk.css") }}" />
    <script src="{{ get_url(path="/js/reveal.js") }}"></script>
    <script src="{{ get_url(path="/js/reveal-notes.js") }}"></script>
</head>

<body>
    <div class="reveal">
        <div class="slides">
            {{ page.content | safe }}

            {% if page.extra.bib %}
            {% set bib_path = page.extra.bib %}
            {% else %}
            {% set bib_path = page.relative_path | replace(from=".md", to=".bib") %}
            {% endif %}

            {% set bib = load_data(path=bib_path, format="bibtex", required=false) %}

            {% if bib %}
            <section data-timing="0" style="text-align: left;">
                {{ macros::make_bib(bib=bib, bib_path=bib_path) }}
            </section>
            {% elif page.extra.bib %}
            {{ throw(message = "Could not make bibliography: " ~ page.extra.bib ~ " does not exist!") }}
            {% endif %}

        </div>
    </div>

    <script>
        Reveal.initialize({
            width: "100%",
            height: "100%",
            hash: true,
            slideNumber: true,
            controls: "speaker",
            transition: "none",
            progress: false,
            plugins: [RevealNotes],
            {% if page.extra.time %}
            totalTime: {{ page.extra.time }} * 60,
            {% endif %}
        });
    </script>
</body>

</html>
