<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{{ get_url(path="/css/reset.css") }}" />
    <link rel="stylesheet" href="{{ get_url(path="/css/reveal.css") }}" />
    <link rel="stylesheet" href="{{ get_url(path="/css/catppuccin-reveal.css") }}" />
    <script src="{{ get_url(path="/js/reveal.js") }}"></script>
    <script src="{{ get_url(path="/js/reveal-notes.js") }}"></script>
</head>

<body>
    <div class="reveal">
        <div class="slides">
            {{ page.content | safe }}
        </div>
    </div>

    <script>
        Reveal.initialize({
            hash: true,
            slideNumber: true,
            controls: "speaker",
            transition: "none",
            progress: false,
            plugins: [RevealNotes],
            {% if page.extra.time %}
            totalTime: {{ page.extra.time }} * 60,
            {% endif %}
        });
    </script>
</body>

</html>
